<div class="card">
    <div class="card-body">
        <h1>Inspección de Obras</h1>        
        <h2 style="color:blueviolet"> Sistema de Cargas</h2>
            <h4>Acerca de:</h4>
         <p>Sistema de Cargas de Expedientes, Inspecciones, Intimaciones e infracciones</p>
         <p>Con la posibilidad de realizar estadisticas precisas y detalladas</p>
    </div>
    <img style="" width="300"src="https://seeklogo.com/images/M/Municipalidad_de_Corrientes-logo-8D9456EA42-seeklogo.com.png"/>    
</div>


