{{!-- <h1> INDEX </h1> --}}


<div class="">
  <div style="text-align: center">
    <h1 style="font-family:Fantasy; color: rgb(22, 22, 21); text-shadow: 2px 2px 2px rgb(46, 43, 43) "
      class="display-4"> SECTOR DE INSPECCION DE OBRAS</h1>
    {{!-- <p class="lead">A simple App to manage Intimaciones/Infracciones developed with Nodejs, Express,
      Mongodb and Javascript Technologies</p>
    <hr class="my-4">
    <p>veniam voluptatibus aliquid unde sit Libero veniam similique ex reiciendis
      doloribus! Deleniti sunt cum ad est atque. Esse earum
    </p> --}}
    {{!-- <img style="border-radius:80px;"
      src="https://lebonartisan.cdn.prismic.io/lebonartisan/4cfbefe2fee7f4e3e94797b2505c3f1b0b728455_maitre-douvrage.jpg"
      width="550" height="270"></a> --}}
    <img style="border-radius:70px; box-shadow: 5px 5px 5px black;" width="470" height="220"
      src="/css/img/constructor.jpg" />
    {{!-- <img src={require('./images/constructor.jpg')} width="550" height="280" /> --}}


  </div>
  </br>
  <p>Datos User:</p>
  <label>{{user}}</label>
  {{!-- <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Register</a> --}}
</div>