<script>

    function ffechaactual() {
        var tipo = document.getElementById('fechaingreso');
        var eye = document.getElementById('botonfecha');
        if (tipo.type == "date") {
            tipo.type = "date";
            eye.class = "btn btn-primary"
            const fecha = new Date();
            const dia = fecha.getDate()
            var mes = 0
            const calcmes = fecha.getMonth() + 1
            if (calcmes < 10) {
                mes = "0" + calcmes + "-"
            } else {
                mes = calcmes + "-"
            }
            if (dia > 0 && dia < 10) {
                var diastring = "0" + dia
            } else {
                var diastring = dia
            }
            const ano = fecha.getFullYear() + "-"
            //const fullyear = fecha.toLocaleDateString();
            const fullyear = ano + mes + diastring
            //const fullyear = fecha.toLocaleDateString();
            tipo.value = fullyear;
        } else {
            //tipo.disabled = false;
            tipo.type = "date";
            eye.class = "btn btn-secondary"
        }
    }

    function fhoraactual() {
        var tipohora = document.getElementById('horaingreso');
        var eyehora = document.getElementById('botonhora');
        if (tipohora.type == "time") {
            //tipohora.disabled = true;
            tipohora.type = "text";
            eyehora.class = "btn btn-primary"
            const fecha = new Date();
            const h = fecha.getHours() + ":";
            const m = fecha.getMinutes();
            if (m < 10) {
                const m = "0" + fecha.getMinutes();
            } else {
                const m = fecha.getMinutes();
            }
            //s = today.getSeconds();
            const fullhora = h + m // + s
            //const fullyear = fecha.toLocaleDateString();
            tipohora.value = fullhora;
        } else {
            //tipohora.disabled = false;
            tipohora.type = "time";
            //tipohora.value = "--:--"
            eyehora.class = "btn btn-secondary"
        }
    }

    function ShowName() {
        var writtenName = document.getElementById('nomyape').value;
        document.getElementById('nomyape').value = formatToString(writtenName);
    }

    function ShowNameInsp() {
        var writtenName = document.getElementById('nomyapeinsp').value;
        document.getElementById('nomyapeinsp').value = formatToString(writtenName);
    }

    function ShowNameDirOb() {
        var writtenName = document.getElementById('nomyapedirob').value;
        document.getElementById('nomyapedirob').value = formatToString(writtenName);
    }

    function ShowUbic() {
        var writtenName = document.getElementById('ubic').value;
        document.getElementById('ubic').value = formatToString(writtenName);
    }

    function formatToString(writtenName) {
        var tmp = writtenName.split(" ");
        var fullName;
        tmp.forEach(element => {
            if (fullName) {
                fullName = fullName + " " + element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            } else {
                fullName = element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            }
        })
        return fullName;
    }

    function ponerminuscula() {
        let ex = document.getElementById("contacto");
        ex.value = ex.value.toLowerCase();
        //let y = document.getElementById("adrema");
        //y.value = y.value.toLowerCase();
    }

    function ponermayuscula() {
        let ex = document.getElementById("adrema");
        ex.value = ex.value.toUpperCase();
        //let y = document.getElementById("adrema");
        //y.value = y.value.toLowerCase();
    }

    function ponermayusculaticket() {
        let ex = document.getElementById("ticket");
        ex.value = ex.value.toUpperCase();
        //let y = document.getElementById("adrema");
        //y.value = y.value.toLowerCase();
    }

</script>

<div class="col-md-8 mx-auto">
    <div class="card">
        <div class="car-header mx-auto">
            <br />
            <h3 style="text-decoration: underline; font-weight: bold; width: auto; padding: 1px 20px; margin: 0px 0; box-sizing: border-box; 
                    ; color:rgb(24, 24, 26); font-weight: bold; border-radius: 6px;
                    text-shadow: 2px 2px 5px rgb(90, 88, 88)">Nuevo Ticket</h3>
        </div>
        <div class="card-body">
            <form action="/notes/newtickets" method="POST">
                <div class="form-group">
                    N° Ticket:
                    <input id="ticket" onkeyup="ponermayusculaticket()" style="font-weight: bold; color:green" minlength="0" maxlength="11" type="text"
                        name="numticket" class="form-control" placeholder="0000-0-0000" required autofocus>
                </div>
                <div class="form-group">
                    Iniciador (Nombre y Apellido):
                    <input id="nomyape" onkeyup="ShowName()" style="font-weight: bold; color:green" type="text"
                        name="iniciador" class="form-control" placeholder="Nombre y Apellido">
                </div>
                <div class="form-group">
                    Ubicación:
                    <input id="ubic" onkeyup="ShowUbic()" style="font-weight: bold; color:green" name="ubicacion"
                        type="text" class="form-control" placeholder="Ubicación" autofocus></input>
                </div>
                <div class="form-group">
                    Contacto Celular (sin guiones):
                    <input type="number" style="font-weight: bold; color:green" name="celular" type="text"
                        class="form-control" placeholder="Celular"></input>
                </div>
                <div class="form-group">
                    contacto E-mail:
                    <input id="contacto" onkeyup="ponerminuscula()" style="font-weight: bold; color:green" name="email"
                        class="form-control" type="email" placeholder="E-mail"></input>
                </div>
                <div class="form-group">
                    Adrema:
                    <input id="adrema" onkeyup="ponermayuscula()" style="font-weight: bold; color:green" name="adrema" class="form-control" type="text"
                        placeholder="Adrema"></input>
                </div>
                <div class="form-group">
                    Director de Obra:
                    <input id="nomyapedirob" onkeyup="ShowNameDirOb()" style="font-weight: bold; color:green"
                        name="directordeobra" class="form-control" placeholder="Director de Obra"></input>
                </div>
                <div class="form-group">
                    Destino de Obra:
                    <input style="font-weight: bold; color:green" name="destinodeobra" class="form-control"
                        placeholder="Destino de Obra"></input>
                </div>
                <div class="form-group">
                    Superficie de Terreno:
                    <input type="number" style="font-weight: bold; color:green" name="superficieterreno"
                        class="form-control" placeholder="Superficie de Terreno"></input>
                </div>
                <div class="form-group">
                    Superficie a Construir:
                    <input type="number" style="font-weight: bold; color:green" name="superficieaconstruir"
                        class="form-control" placeholder="Superficie a Construir"></input>
                </div>
                <div class="form-group">
                    Superficie Planta Baja:
                    <input type="number" style="font-weight: bold; color:green" name="supsubptabja" class="form-control"
                        placeholder="Superficie Planta Baja"></input>
                </div>
                <div class="form-group">
                    Superficie Planta Alta y Más:
                    <input type="number" style="font-weight: bold; color:green" name="supsubptaaltaymas"
                        class="form-control" placeholder="Superficie Planta Alta y Más"></input>
                </div>
                <div class="form-group">
                    Zona (opcional):
                    <input style="font-weight: bold; color:green" name="zona" class="form-control"
                        placeholder="Zona"></input>
                </div>
                <div class="form-group">
                    Observación:
                    <textarea style="resize:none; font-weight: bold; color:green" name="observacion" rows="2" cols="40"
                        class="form-control" placeholder="Observación"></textarea>
                </div>
                <div class="form-group">
                    Permiso de Obra:
                    <input style="font-weight: bold; color:green" name="permisoobra" class="form-control"
                        placeholder="Permiso de Obra"></input>
                </div>
                <div class="form-group">
                    Acta de Infracción:
                    <input style="font-weight: bold; color:green" name="actainfraccion" class="form-control"
                        placeholder="Acta de Infracción"></input>
                </div>
                <div class="form-group">
                    Fecha entrada a inspecciones:
                    <input style="font-weight: bold; color:green" name="fechaentradainspecciones" type="date"
                        class="form-control" placeholder="Fecha entrada a inspecciones"></input>
                </div>
                <div class="form-group">
                    Inspector:
                    <input id="nomyapeinsp" onkeyup="ShowNameInsp()" style="font-weight: bold; color:green"
                        name="inspeccioninspector" class="form-control" placeholder="Inspector"></input>
                </div>
                <div class="form-group">
                    Fecha de Inspector:
                    <input style="font-weight: bold; color:green" name="inspeccionfecha" type="date"
                        class="form-control" placeholder="Fecha de Inspector"></input>
                </div>
                <div class="form-group">
                    <p>Posee Intimaciones:
                        <select name="intimaciones">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <p>Posee Infracciones:
                        <select name="infracciones">
                            <option value="No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    Pase a:
                    <input style="font-weight: bold; color:green" name="pasea" class="form-control"
                        placeholder="Pase a"></input>
                </div>
                <div class="form-group">
                    Fecha de Pase a:
                    <input type="date" style="font-weight: bold; color:green" name="fechapasea" class="form-control"
                        placeholder="Fecha de Pase a"></input>
                </div>
                {{!-- <div class="form-group">
                    Usuario Actual:
                    <input style="color:rgb(128, 131, 128)" value="{{user}}" name="user" class="form-control"
                        placeholder="No Definido" disabled></input>
                </div> --}}
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Grabar
                    </button>
                </div>
                <div>
                    <p style="color:brown; font-style:oblique; font-weight: bold;"><a href="/ticket/listado"><i
                                class="fas fa-list" style='font-size:24px;color:blue'></i></a> Volver Listado</p>
                </div>
            </form>
        </div>
    </div>
</div>