<script>
    function ShowName() {
        var writtenName = document.getElementById('input_name').value;
        document.getElementById('input_name').value = formatToString(writtenName);
    }

    function formatToString(writtenName) {
        var tmp = writtenName.split(" ");
        var fullName;
        tmp.forEach(element => {
            if (fullName) {
                fullName = fullName + " " + element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            } else {
                fullName = element.charAt(0).toUpperCase() + element.slice(1).toLocaleLowerCase();
            }
        })
        return fullName;
    }

    function mostrarContrasena() {
        var tipo = document.getElementById('txtpassword');
        var eye = document.getElementById('eyepassword');
        if (tipo.type == "password") {
            tipo.type = "text";
            eye.class = "btn btn-secondary"
        } else {
            tipo.type = "password";
            eye.class = "btn btn-primary"
        }
    }

    function ponerminuscula() {
        let ex = document.getElementById("email");
        ex.value = ex.value.toLowerCase();
        //let y = document.getElementById("adrema");
        //y.value = y.value.toLowerCase();
    }
</script>

{{!-- <label for="input_name">Escribe nombres y apellidos:</label>
<br>
<input type="text" name="input_name" id="input_name" onchange="ShowName();"></input> --}}

<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-1 text-center">
            <div class="card-header">
                <h4 style="color:red; text-shadow: 1px 1px 2px black"> Acceso Inspectores</h4>
            </div>
            <img class="mx-auto d-block m-2 logo " src="/css/img/card.png" alt="Logo" />
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input onkeyup="ponerminuscula()" type="email" id="email" class="form-control" name="email"
                            placeholder="E-mail" autofocus>
                    </div>
                    <div class="form-group">
                        <input type='password' class="form-control" name="password" placeholder="password"
                            id="txtpassword" autofocus>
                    </div>
                    <div class="input-group-append">
                        <button id="eyepassword" class='btn btn-secondary' name="eyepassword" type="button"
                            onclick="mostrarContrasena()">
                            <span class="fa fa-eye-slash icon"></span>
                        </button>
                    </div>
                    <br />
                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">
                            Ingresar
                        </button>
                        <br />
                    </div>
                    {{!-- <a class="btn btn-success btn-sm" href="/users/signup" role="button">Registrar</a> --}}
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- // Buttons --}}
{{!-- <button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button> --}}