<script>
    function ponerminuscula() {
        let ex = document.getElementById("email");
        ex.value = ex.value.toLowerCase();
        //let y = document.getElementById("adrema");
        //y.value = y.value.toLowerCase();
    }
</script>

{{!-- <h1> REGISTER </h1> --}}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 style="color:red; text-shadow: 1px 1px 2px black">Registro de Usuarios/Inspectores</h4>
                <div class="card-body">
                    <form action="/users/signup" method="POST">
                        <div class="form-group">
                            <p>Elige un Rol de Usuario:
                                <select name="rolusuario">
                                    <option>Administrador</option>
                                    <option>Jefe-Inspectores</option>
                                    <option>Inspector</option>
                                    <option>Mesa-Entrada</option>
                                    <option>Liquidaciones</option>
                                </select>
                            </p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
                        </div>
                        <div class="form-group">
                            <input onkeyup="ponerminuscula()" id="email" type="email" class="form-control" name="email"
                                placeholder="Correo/Email" value="{{email}}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña"
                                value="{{password}}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm_password"
                                placeholder="Confirmar Contraseña" value="{{confirm_password}}">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block">
                                Registrar
                            </button>
                            <br />
                            {{!-- <a class="btn btn-danger btn-sm" href="/users/signin" role="button">Volver al
                                Login</a> --}}
                        </div>
                        <div>
                            <p style="color:red; font-style:oblique; font-weight: bold;"><a href="/"><i
                                        class="fas fa-list" style='font-size:24px;color:blue'></i></a> Cancelar</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>